@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*,
html,
body {
    margin: 0;
    padding: 0;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
}
:root {
    --brand1: #3DB39B;
    --brand2: #4CBF95;
    --bg: #42B59F;
    --w: #ffffff;
    --input: #EEEEEE;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
i {
    text-decoration: none;
    display: inline-block;
}
ul li {
    list-style-type: none;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding: 0px 10px;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1 {
    width: 8.333333333333334%;
    flex: 0 0 8.333333333333334%;
}
.col-2 {
    width: calc(8.333333333333334%*2);
    flex: 0 0 calc(8.333333333333334%*2);
}
.col-3 {
    width: calc(8.333333333333334%*3);
    flex: 0 0 calc(8.333333333333334%*3);
}
.col-4 {
    width: calc(8.333333333333334%*4);
    flex: 0 0 calc(8.333333333333334%*4);
}
.col-5 {
    width: calc(8.333333333333334%*5);
    flex: 0 0 calc(8.333333333333334%*5);
}
.col-6 {
    width: calc(8.333333333333334%*6);
    flex: 0 0 calc(8.333333333333334%*6);
}
.col-7 {
    width: calc(8.333333333333334%*7);
    flex: 0 0 calc(8.333333333333334%*7);
}
.col-8 {
    width: calc(8.333333333333334%*8);
    flex: 0 0 calc(8.333333333333334%*8);
}
.col-9 {
    width: calc(8.333333333333334%*9);
    flex: 0 0 calc(8.333333333333334%*9);
}
.col-10 {
    width: calc(8.333333333333334%*10);
    flex: 0 0 calc(8.333333333333334%*10);
}
.col-11 {
    width: calc(8.333333333333334%*11);
    flex: 0 0 calc(8.333333333333334%*11);
}
.col-12 {
    width: calc(8.333333333333334%*12);
    flex: 0 0 calc(8.333333333333334%*12);
}