body {
    background-image: linear-gradient(to right, var(--brand1), var(--brand2) );  
    background-repeat: no-repeat;
    padding: 50px 0;
    font-family: 'Roboto Condensed', sans-serif; 
}
.container {
    background-color: var(--w);
}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 20px 0;
    color: var(--brand1);
}
.fill_up {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}
.heading{
    margin-bottom: 15px;
    font-size: 24px;
}
.heading:nth-child(2){
    font-family: 'Ubuntu', sans-serif;
}
.fill_up form input{
    width: 85%;
    padding: 10px;
    margin: 5px 0;
    outline: 0;
    background-color: var(--input);
    border: none; 
    font-size: 18px;
}
.fill_up form input:focus{
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.fill_up form button {
    margin-top: 15px;
    font-size: 16px;
    border-radius: 7px;
    padding: 10px 25px;
    background-color: var(--brand2);
    color: white;
    border: none;
}
.student_info {
    padding: 20px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
}
.student_info ul {
    color: white;
    width: 100%;
    background-color: var(--bg);
    min-height: 200px;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    
    box-sizing: border-box;
}
.student_info ul li {
    padding: 8px 0;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}